body{
	margin:0;
	padding:0;
	min-height: 500px;
	min-width: 210px;
	background-color: khaki;
}
h1{
	text-align: center;
	margin-top: 10px;
	color: darkmagenta;
	width:100%;
	font-size: xx-large;	
	background-color: darkkhaki;
	margin-top: 0;
	padding:15px;
}
#designs{
	width:100px;
	height:100px;
	background-color:lawngreen;
	position:relative;
}
.special{
	font-weight:bold;
}
#checkForContinue{
	background-color:#C68E17;
	min-width:20%;
	max-width:200px;
	height:150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border:10px solid #8A4117;
	border-radius: 7px;
	box-shadow: 9px 12px 15px #D4A017;
}
.labelDesign{
	display:inline-block;
	background-color: #EE9A4D;
	padding:5px;
	font-family: "Comic Sans MS" , helvetica, arial;
	border:2px inset yellow;
}

.labelDesign, .playOrNot {
		margin:20px;
}

.startTheGame{
	padding: 15px;
	background-color: #DAF7A6;
	box-shadow: 7px 7px 15px red;
	border:3px inset #FFC300;
	border-radius: 3px;
}
#startTheGameDiv{
	text-align: center;

}

.info{
	font-size: 16px;
	margin:3% 30%;
	padding: 1%;
	text-align: justify;
	color:goldenrod;
	border-radius: 15%;
	background-color: red;

}
